body{
    text-align: center;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 3px solid white;
}

#start,#status{
    font-size: 22px;
}
h4{    
    color: darkgray;
    bottom: 0;
    width:100%;
    background-color: rgb(245, 147, 245);
    line-height: 2;
    text-align: center;
    position: fixed;
    
}
.modal-dialog{
    width: 90%;
}
